@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">HELLO! GOOD MORNING</h1>
    <p> A Simple morning message <a href="https://gifplayer.netlify.app/">but lots of underlying tech.</a>.</p>
    <li>With c# on latest dotnet core platform</li>
    <li>Hosted on Linux based server</li>
    <li>From Indonesia to California to Malaysia or where ever you are</li>
    <li>Within miliseconds, Amazing. </li>
</div>
